<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/hadoop
        http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    
    <!--  
            Enables automatic mapping of fund objects to and from JSON  
      -->  
    <mvc:annotation-driven/>  
    
    
  
    <context:property-placeholder location="classpath:hadoop.properties"/>

    <hdp:configuration id="hadoopCconfiguration" file-system-uri="${hd.fs}" />

    <hdp:hbase-configuration configuration-ref="hadoopCconfiguration"  stop-proxy="false" delete-connection="true" zk-quorum="${hbase.host}" zk-port="${hbase.port}" />    <!--"-->

    <bean id="hTemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate" p:configuration-ref="hbaseConfiguration"/>

    <context:component-scan base-package="repository"/>
    
     
</beans>